body{
    margin: 0%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1666061757185-4baea2297664?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: lightpink;
    width: 400px;
    padding: 25px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.textarea{
    resize: none;
    width: 100%;
    height: 150px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgray;
}

.counter-container{
    display: flex;
    justify-content: space-between;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0 5px;   
}

.counter-container p {
    font-size: 25;
    color: gray;
}

.total-counter{
    color: green;
}
.remaining-counter{
    color: orangered;
}

