body{
   margin: 0;
   display: flex;
   align-items: center;
   height: 100vh;
   justify-content: center;
   text-align: center;
   background: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   font-family:Verdana, Geneva, Tahoma, sans-serif}

h1{
    color: black;
}
h4{
    color: black;
}
.form{
    background-color: white;
    opacity: 90%;
    padding: 20px;
    box-shadow: 0 4 8 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;
}

.input::placeholder{
    color: lightgray;
    font-family: inherit;

}

.btn{
    background-color: green;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: inherit;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0, 2, 4 rgba(0, 0, 0, 0.3);
    align-self:center;
    cursor: pointer;
}

#btn-clear-score{
    background-color: red;
    width: 100%;
    
    
}

.btn:hover{
    filter: brightness(0.9);
}

.score{
    color: green;
    text-align: right;
}


